<% layout("/layouts/boilerplate") %>

    <body>
        <div class="row">

            <div class="col col-lg-8 col-md-8 col-sm-10 cols-xs-10 offset-lg-2 offset-md-2 offset-sm-1 offset-sm-1 outer-box">
                <h3 class="d-flex justify-content-center mb-3 heading">Update Property Details</h3>
                <form action="/listings/<%= data._id %>?_method=PUT" method="post" novalidate class="needs-validation" enctype="multipart/form-data">

                    <div class="mb-1">
                        <label for="title" class="form-label form-label-listings">Title</label>
                        <input type="text" name="listing[title]" class="form-control" id="title" value="<%= data.title %>" required>
                        <div class="invalid-feedback" id="titleFeedback">
                            <span id="invalid-title">Please add a title.</span>
                            <span id="error-title" class="d-none">You have reached the maximum 70 characters limit for title!</span>
                        </div>
                    </div>

                    <div class="mb-1">
                        <label for="description" class="form-label form-label-listings">Description</label>
                        <textarea name="listing[description]" class="form-control" id="description" cols="30" rows="5" required><%= data.description %></textarea>
                        <div class="invalid-feedback" id="descriptionFeedback">
                            <span id="invalid-description">Please add a description.</span>
                            <span id="error-description" class="d-none">You have reached the maximum 1000 characters limit for description!</span>
                        </div>
                    </div>

                    <div class="mb-1">
                        <label class="form-label form-label-listings">Images preview that already uploaded.</label>
                        <div class="edit-preview-container">
                            <% data.image.forEach((image, i) => { %>
                                <div class="edit-preview-inner">
                                    <img class="preview-image" src="<%=image.url%>" alt="Image Preview">
                                    <div class="form-check-inline c-check cont">
                                        <label for="del<%= i %>" class="form-check-label -danger imgDelTex">Want to delete? Check this box.</label> &nbsp;&nbsp;
                                        <input class="form-check-input imgDel custom-checkbox" type="checkbox" id="del<%= i %>" name="deleteImages[]" value="<%= image.filename %>">
                                    </div>
                                </div>
                            <% }); %>
                        </div>                        
                    </div>

                    <div class="mb-1">
                        <label for="image" class="form-label form-label-listings">Upload new images</label>
                        <i class="fi fi-br-exclamation" 
                            data-bs-toggle="tooltip" 
                            data-bs-placement="right"
                            data-bs-title="You must have at least 1 image and a maximum of 3 images in total, including already uploaded and newly added ones. Only .png, .jpg, .jpeg, .webp & .avif formats are supported. Other formats are not supported."></i>
                        <input type="file" name="listing[image]" id="inputFile" class="form-control" multiple>
                        <div id="fileError" class="form-text exceed-error invisible"></div>
                    </div>

                    <div class="row">
                        <div class="mb-1 col-md-3">
                            <label for="price" class="form-label form-label-listings">Price</label>
                            <input type="number" name="listing[price]" class="form-control" id="price" value="<%= data.price %>" required>
                            <div class="invalid-feedback" id="priceFeedback">
                                <span id="invalid-price">Please add a price.</span>
                                <span id="error-price" class="d-none">Price should be within 999999</span>
                            </div>
                        </div>
                        <div class="mb-1 col-md-5">
                            <label for="location" class="form-label form-label-listings">Location</label>
                            <i class="fi fi-br-exclamation" data-bs-toggle="tooltip" data-bs-placement="right"
                                data-bs-title="Please provide precise location, because it will be plotted on map!"></i>
                            <input type="text" name="listing[location]" class="form-control" id="location" value="<%= data.location %>" required>
                            <div class="invalid-feedback" id="locationFeedback">
                                <span id="invalid-location">Please enter a valid location.</span>
                                <span id="error-location" class="d-none">Maximum 70 characters allowed!</span>
                            </div>
                        </div>
                        <div class="mb-1 col-md-4">
                            <label for="country" class="form-label form-label-listings">Country</label>
                            <input type="text" name="listing[country]" class="form-control" id="country" value="<%= data.country %>" required>
                            <div class="invalid-feedback">
                                <span id="invalid-country">Please enter a valid country name.</span>
                                <span id="error-country" class="d-none">Maximum 50 characters allowed!</span>
                            </div>
                        </div>
                    </div>
                    
                    <button class="btn btn-danger" id="submitButton">Save changes</button>

                </form>
            </div>
        </div>
    </body>